<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/cookies.min.js"></script>
    <style type="text/css" media="print">
        ul { list-style: none; }
        li + li { margin-top: 12pt; }
        a,
        header,
        aside,
        footer { display: none; }
        .year { display: inline !important; }
    </style>
    <script>
        function zebra() {
            $('#the-books li:visible:odd').removeClass('even');
            $('#the-books li:visible:even').addClass('even');
        }
        function bookCounter() {
            var counter = '0';
            $('form#the-books input').each(function(index) {
                if ($(this).is(':checked')) { counter++; }
            });
            return counter;
        }
        function setCookies() {
            var checkbox_elements = $('input:checkbox');
            if(checkbox_elements.length) {
                $('input:checkbox').bind('change', function() {
                    var checkboxes = [];
                    $('input:checkbox:checked').each(function() {
                        checkboxes.push($(this).attr('value'));
                    });
                    docCookies.setItem('selected_items', checkboxes.join(','));
                });
            }
        };
        function loadCookies() {
            if(docCookies.getItem('selected_items')) {
                var checkboxes = docCookies.getItem('selected_items').split(',');
                $.each(checkboxes, function() {
                    if (this.length) {
                        $('input:checkbox[value="' + this + '"]').attr('checked', 'checked');
                    }
                });
            }
        };
        function yearToggle() {
            if ($('#year-toggle input').is(':checked')) {
                $('.year').show();
            } else {
                $('.year').hide();
            };
        }
        function bookToggle() {
            var type = $('#type-toggle input:checked').val();
            $('form#the-books li').each(function() {
                if (type === 'all') {
                    $(this).show();
                } else if ($(this).hasClass(type)) {
                    $(this).show();
                } else {
                    $(this).hide();
                };
            });
            zebra();
        }
        function bookNumber() {
            // When I call this code, it makes the page forget which checkboxes are selected on page refresh.  Odd.
            $('#the-books li').each(function(index) {
                $(this).html($(this).html() + '<span class="number">' + (index + 1) + '</span>');
            });
            $('#the-books li span.number').css({float: 'right', fontSize: '10px', color: '#ccc', margin: '4px 10px 0 0'});
        }
        function bookSelect() {
            $('form#the-books input').each(function() {
                if ($(this).is(':checked')) {
                    $(this).parent('label').parent('li').addClass('selected');
                } else {
                    $(this).parent('label').parent('li').removeClass('selected');
                };
            });
        }
        $(function() {
            $('.js-show').removeClass('js-show');
            $('.js-not-available').removeClass('js-not-available');
            var totalBooks = $('#the-books ul li').length;
            loadCookies();
            setCookies();
            $('#completed .total').html(totalBooks);
            $('#completed .completed').html(bookCounter());
            bookSelect();
            $('form#the-books input').click(function() {
                bookSelect();
                $('#completed .completed').html(bookCounter());
            });
            yearToggle();
            $('#year-toggle input').click(function() { yearToggle(); });
            bookToggle();
            $('#type-toggle input').click(function() { bookToggle(); });
            zebra();
        });
    </script>
    <script async defer data-domain="sk.listsofbooks.com" src="https://plausible.io/js/plausible.js"></script>
</head>
<body>
    <header>
        <h1>Stephen King Checklist</h1>
    </header>

    {{ content | safe }}

    <footer>
        <div id="copyright">&copy; 2009&ndash;{{ page.date.getFullYear() }} <a href="https://treylabs.com">Trey Labs LLC</a>. All rights reserved.</div>
    </footer>
</body>
</html>
