---
layout: layouts/base.njk
title: Stephen King Checklist
description: How many of Stephen King’s books have you read?
---

<aside>
    <div class="status-and-filter js-show">
        <div id="completed">You’ve read <span class="completed">0</span> out of <span class="total"></span> books.</div>
        <div id="year-toggle"><label><input type="checkbox"> <span class="status">Show</span> year</label></div>
        <div id="type-toggle">
            <h2>Filter</h2>
            <ul>
                <li><label><input name="booktype" value="all" type="radio" checked /> All</label></li>
                {%- for category in categories %}
                <li><label><input name="booktype" value="{{ category.slug }}" type="radio" /> {{ category.title }}</label></li>
                {%- endfor %}
            </ul>
        </div>
    </div>
    <p class="note">🖤 “Buy”s are affilaite links with <a href="https://bookshop.org/shop/trey">Bookshop</a>. Help support local book stores as well as <a href="https://treylabs.com">Trey Labs</a>!</p>
</aside>
<form id="the-books" action="#" method="post">
    <ul class="js-not-available">
        {% for book in books %}
        <li{% if book.category %} class="{{ book.category }}"{% endif %}>
            <span class="year">{{ book.year }}</span>
            <label>
                <input type="checkbox" value="{{ book.title }}"{% if book.status == 'inactive' %} disabled{% endif %} />
                {{ book.title }}
            </label>
            {% if book.info %}
            <a href="{{ book.url }}">Info</a>
            {% else %}
            <a href="{{ book.url }}">Buy</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</form>
