@import 'partials/reset';
@import 'modules/all';
// @import 'partials/breakpoints-display';

body {
    font: 18px Helvetica, sans-serif;
    background: #fff;

    > * {
        margin-left: auto;
        margin-right: auto;

        @include breakpoint('M') {
            margin-left: inherit;
            margin-right: inherit;
        }
    }
}

h1 {
    font-size: 20px;
    margin: 20px 20px 10px;
    text-align: center;

    @include breakpoint('S') {
        text-align: left;
        margin-top: 20px;
    }

    @include breakpoint('M') { margin-left: 20px; }
}

h2 {
    font-size: 18px;
    margin: 20px 0 10px;
}

#copyright {
    margin: 20px;
    font-size: 10px;
}

li + li { margin-top: 0.5rem; }

#the-books {
    @include breakpoint('M') { margin: 0 0 20px 20px; }

    li {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        margin: 0;

        label {
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0 5px 0 0;
            padding-left: 5px;
        }

        &.selected label {
            color: #000;
            background: #ddd;
        }

        &.selected.even label { background: #ccc; }

        a {
            font-size: 11px;
            color: #696969;
            margin-right: 5px;

            &:active {
                position: relative;
                top: 1px;
            }
        }
    }

    ul {
        &.js-not-available li:nth-child(odd),
        li.even { background: #eee; }

        @include breakpoint('S') {
            margin: 30px auto;
            width: 60ch;
        }
    }
}

#year-toggle { font-size: 12px; }

#type-toggle { font-size: 16px; }

aside {
    padding-top: 1rem;

    .status-and-filter {
        margin-left: 20px;
        margin-bottom: 2rem;

        @include breakpoint('M') { margin-left: 0; }
    }

    .note {
        margin: 0 0 2rem;
        padding: 1rem;
        background: #f5f4f4;
        font-size: 14px;
        max-width: 55ch;
        border: 4px solid rgba(0, 0, 0, 0.1);
        line-height: 1.5;
    }

    @include breakpoint('M') {
        padding-top: 0;
        position: fixed;
        left: 64ch;
        top: 70px;
    }
}

#completed {
    text-align: center;
    margin-bottom: 10px;

    @include breakpoint('S') {
        text-align: left;
        margin-bottom: 25px;
    }

    span {
        padding: 5px 3px 1px 3px;
        border-bottom: 1px solid #888;
        background: #efefef;
    }
}

.year {
    color: #888;
    min-width: 45px;
}

.js-show { display: none; }
